<div id="<%= dom_id message %>">
  <p>
    <strong>Tex.string:</strong>
    <%= message.tex.string %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= message.email %>
  </p>

  <p>
    <strong>User:</strong>
    <%= message.user_id %>
  </p>

  <p>
    <strong>Second user:</strong>
    <%= message.second_user_id %>
  </p>

</div>
