<p style="color: green"><%= notice %></p>

<h1>Rooms</h1>

<div id="rooms">
  <% @rooms.each do |room| %>
    <%= render room %>
    <p>
      <%= link_to "Show this room", room %>
    </p>
  <% end %>
</div>

<% @users.each do |user| %>
  <%= link_to user.email, user%>
<%end%>
<%= link_to "New room", new_room_path %>
